<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="<%= @cssLink %>">
    <script src= <%= @jsLink %>></script>
  </head>
  <body>
    <div class='blink'>Chef rules!</div>
    <img src="<%= @imgLink %>" class='center'>
  </body>
</html>